{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block body %}
    <div class="main-container">
        <h1 class="main-title">Student Page</h1>

        <div class="navigation">
            <button type="button" class="my-btn" onclick="history.back()">Go Back</button>
        </div>

        <form method="get" class="filter-form">
            <div class="form-group">
                <label for="Office">Choose an Office:</label>
                <select id="Office" name="Office" class="form-control">
                    <option value="None">ALL</option>
                    {% for Office in Office_option %}
                        <option value="{{ Office.0 }}">{{ Office.0 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="Position">Choose a Position Type:</label>
                <select id="Position" name="Type" class="form-control">
                    <option value="None">ALL</option>
                    <option value="Research">Research</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Status">Open/Close Filter:</label>
                <select id="Status" name="Status" class="form-control">
                    <option value="None">ALL</option>
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </select>
            </div>

            <input type="submit" value="Apply Filters" class="my-btn">
        </form>
        <h2>Available Positions</h2>
        <h3>Your filter options have resulted in finding {{filter_num}} matching job postings.</h3>

        {% for position in Position_list %}

        <li class="position-item">
            <h3>Position: {{ position.0 }}</h3>
            <div class="info">
                <p>Type: {{ position.1 }}</p>
                <p>Deadline: {{ position.2 }}</p>
                <p>Date of Post: {{ position.3 }}</p>
                <p>Status: {{ position.4 }}</p>
                <button onclick="toggleDetails('details-{{ forloop.counter }}')" class="detail-btn">Detailed Description</button>
                <button onclick="location.href='application/?position_id={{ position.13 }}'" class="application-btn">Apply</button>
            </div>
            <div id="details-{{ forloop.counter }}" class="position-details" style="display: none;">
                <!-- Detailed information here -->
                <p>Professor Name: {{ position.12 }}</p>
                <p>Hiring number: {{ position.8 }}</p>
                <p>Working hours: {{ position.9 }} </p>
                <p>Hourly Wage: {{ position.10 }}</p>
                <p>Department: {{ position.11 }}</p>
                <p>Description Link: {{ position.6 }}</p>
                <p>Requirements: {{ position.7 }}</p>
            </div>
        </li>
        {% endfor %}
        <script>
        function toggleDetails(detailsId) {
            var detailsDiv = document.getElementById(detailsId);
            if (detailsDiv.style.display === "none") {
                detailsDiv.style.display = "block";
            } else {
                detailsDiv.style.display = "none";
            }
        }
        </script>


{% endblock %}

{% block styles %}

    <style>
        .position-details {
        background-color: #e9ecef;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        display: none; /* Initially hidden */
        overflow: hidden; /* For sliding effect */
        transition: max-height 0.5s ease-out; /* Sliding effect */
        }
        .main-container {
            text-align: center;
            padding: 20px;
        }
        .main-title {
            color: #004d99;
            margin-bottom: 20px;
        }
        .navigation {
            margin-bottom: 20px;
        }
        .my-btn {
            background-color: #004d99;
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
        .my-btn:hover {
            background-color: #003366;
        }
        .filter-form {
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-control {
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }
        .position-list {
            list-style-type: none;
            padding: 0;
        }
        .position-item {
            background: #f4f4f4;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .detail-btn {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .detail-btn:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}